.App {
    margin: 20px;
    padding: 30px;
    display: flex;
    gap: 15px;
}


.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: #00cfff;
}

.completed-task {
    opacity: 50%;
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}