
.error {
    border: red 1px solid;
}
.error-message {
    color: red;
}
.active-filter {
    background-color: #00a6ff;
    color: white;
}
.completed-task {
    opacity: 50%;
}
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    display: flex;
    gap: 15px;
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
}
.logo .title{
    text-align: center;
    color: #FFFFFFFF;
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
