.App {
    margin: 20px;
    padding: 30px;
    display: flex;
    gap: 15px;
}


.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.completed-task {
    opacity: 50%;
}